html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #FFFFEA;
    font-family: sans-serif;
    margin: 0 auto;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
}

#screens {
    flex: 1;
    font-size: 10pt;
}

#top-menu {
    background-color: #EAFFFF;
    display: flex;
    height: 6vh;
    font-size: 14pt;
    width: 100%;
}

#top-menu button {
    background-color: #0493DD;
    border-radius: 0;
    color: white;
    flex: 1;
    font-size: 14pt;
    height: 100%;
    margin: 0px;
    touch-action: pan-y;
}

#top-menu .screen-active {
    background-color: #7D7DC5;
}

#menu {
    background-color: #EAFFFF;
    display: flex;
    font-size: 14pt;
    height: 6vh;
    width: 100%;
}

#menu button {
    background-color: #0493DD;
    border-radius: 0;
    color: white;
    flex: 1;
    font-size: 14pt;
    height: 100%;
    margin: 0px;
    touch-action: pan-y;
}

#menu button:active {
    background-color: #7D7DC5;
}

#vol {
    align-items:center;
    display: flex;
    flex: 1;
    font-size: 14pt;
    justify-content: center;
}

#loading {
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#queue {
    list-style-type: none;
    margin: 0px;
    padding: 0em;
}

.queued-track {
    cursor: pointer;
    padding: 0.5em;
}

.queued-track:hover {
    background-color: #EAFFFF;
}

.artist-track {
    display: inline-block;
    width: 90%;
}

.artist-track-contents {
    display: flex;
    justify-content: space-evenly;
}

.artist-track-contents div {
    flex: 1;
    text-align: left;
}

.time {
    display: inline-block;
    text-align: right;
    width: 10%;
}
