html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #FFFFEA;
  font-family: sans-serif;
  margin: 0 auto;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
}

#screens {
    flex: 1;
}

#top-menu {
  background-color: #EAFFFF;
  border-bottom: 1px solid #848492;
  display: flex;
  height: 6vh;
  font-size: 14pt;
  width: 100%;
}

#top-menu button {
  background-color: #0493DD;
  border-radius: 0;
  color: white;
  flex: 1;
  font-size: 14pt;
  height: 100%;
  margin: 0px;
  touch-action: pan-y;
}

#top-menu .screen-active {
  background-color: #7D7DC5;
}

#menu {
  background-color: #EAFFFF;
  border-top: 1px solid #848492;
  display: flex;
  font-size: 14pt;
  height: 6vh;
  width: 100%;
}

#menu button {
  background-color: #0493DD;
  border-radius: 0;
  color: white;
  flex: 1;
  font-size: 14pt;
  height: 100%;
  margin: 0px;
  touch-action: pan-y;
}

#menu button:active {
  background-color: #7D7DC5;
}

#vol {
    align-items:center;
    display: flex;
    flex: 1;
    font-size: 14pt;
    justify-content: center;
}

#loading {
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#queue {
  list-style-type: none;
  margin: 0px;
  padding: 1em;
}

.queued-track {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.queued-track div {
  flex: 1;
  text-align: left;
}

.queued-track div:last-of-type {
  flex: 1;
  text-align: right;
}
